*               text=auto

# Source code
*.css           text diff=css
*.html          text diff=html
*.js            text

# Graphics
*.png           binary
*.ico           binary
*.svg           text

# Fonts
*.ttf           binary
*.eot           binary
*.woff          binary
*.woff2         binary

# Documentation
*.md            text diff=markdown

# Configs
.gitattributes  text