@font-face {
    font-family: Roboto;
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/roboto/roboto-400.eot");
    src: url("../fonts/roboto/roboto-400.eot?#iefix") format("embedded-opentype"),
         url("../fonts/roboto/roboto-400.woff2") format("woff2"),
         url("../fonts/roboto/roboto-400.woff") format("woff"),
         url("../fonts/roboto/roboto-400.ttf") format("truetype"),
         url("../fonts/roboto/roboto-400.svg#Roboto") format("svg");
}

@font-face {
    font-family: "Roboto Slab";
    font-display: swap;
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/roboto-slab/roboto-slab-500");
    src: url("../fonts/roboto-slab/roboto-slab-500?#iefix") format("embedded-opentype"),
         url("../fonts/roboto-slab/roboto-slab-500.woff2") format("woff2"),
         url("../fonts/roboto-slab/roboto-slab-500.woff") format("woff"),
         url("../fonts/roboto-slab/roboto-slab-500.ttf") format("truetype"),
         url("../fonts/roboto-slab/roboto-slab-500.svg#RobotoSlab") format("svg");
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}

button,
input,
textarea {
    display: block;
    background-color: transparent;
    border: none;
    font: inherit;
}

.sr-only {
    border: none;
    width: 0.0625rem;
    height: 0.0625rem;
    padding: 0;
    margin: -0.0625rem;
    overflow: hidden;
    white-space: nowrap; 
    position: absolute;
    top: auto;
    left: -99rem;
    clip: rect(0 0 0 0);
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%);
}