/*
-----------
Print Media
-----------
*/

@media print {
    :root[data-theme="dark"] {
        /*
            Obviously you don't want the
            whole page to be dark.
        */
        --color-1: var(--black), 0.8;
        --color-2: var(--white);
    
        color-scheme: light;
    }

    @page {
        size: A4;
        margin: 2.54cm;
    }

    .settings,
    .simple-note__inputs { display: none; }
    
    .simple-note {
        width: 100%;
        max-width: none;
        padding: 0;
    }

    .simple-note__print-helper {
        display: block;
        line-height: 1.5;
    }
    
    .print-helper__title {
        margin-bottom: 1.75rem;
        font-family: var(--font-2);
        font-size: 19.92pt;
        font-weight: 500;
        letter-spacing: -0.02em;
        line-height: 1.25;
        word-wrap: break-word;
    }
    
    .print-helper__body {
        font-family: var(--font-1);
        font-size: 13.5pt;
        font-weight: 400;
        word-wrap: break-word;
    }
}